section
    .flex.flex--center
        .col-1
            p By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or lesssimultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.

        .col-1
            p By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or less simultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.

section
    .flex.flex--space-around
        .col-1
            p By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or less simultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.

        .col-1.order-first
            p CTA By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or less simultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.

section
    .flex.flex--center
        .col-2
            p By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or less simultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.

section
    .flex.flex--center
        .col-50.flex.flex--center
            .col-1
                p By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or less simultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.

        .col-50
            p CTA By working through the lectures and quizzes in Introduction to Computer Science, you will accomplish several tasks more or less simultaneously: learn the syntax of Python, understand how to use programming control structures to create programs, and use your new-found knowledge to solve problems. While it is natural to absorb the first two tasks through observation and practice, it is sometimes difficult to develop a systematic approach to problem solving.