#youtube
section.youtube
    .flex.flex--space-around
    
        .col-1
            .video-strip
            .flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/Z8FrRwjusrs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            


        .col-1.order-first
            p.home-lead.outdented ...I make comedy videos on youtube...
            a(href="https://www.youtube.com/channel/UClqOQHqr-Kl6wcv4Osnn7lg").home-cta Watch on YouTube